<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.koreate.board.dao.BoardDAO">
	<!-- 검색 -->
	<select id="listCount" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	<select id="list" parameterType="criteria" resultType="boardVO">
		SELECT * FROM board ORDER BY bno DESC limit #{startRow}, #{perPageNum}
	</select>

	<!-- 삽입 -->
	<insert id="insert" parameterType="boardVO">
		INSERT INTO board (title,content,writer)
		VALUES (#{title},#{content},#{writer})
	</insert>
	
	<!-- 선택 -->
	<select id="read" parameterType="int" resultType="boardVO">
		SELECT * FROM board WHERE bno = #{bno}
	</select>
	
	<!-- 수정 -->
	<update id="update" parameterType="BoardVO">
		UPDATE board SET
		title		= #{title},
		content		= #{content},
		writer		= #{writer},
		updateDate	= now()
		WHERE bno = #{bno}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE bno = #{bno}
	</delete>
</mapper>