<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.koreate.user.dao.UserDAO">
	<resultMap id="memberMap" type="net.koreate.user.vo.UserVO">
		<result property="uno" column="uno"/>
		<result property="u_id" column="u_id"/>
		<result property="u_pw" column="u_pw"/>
		<result property="u_name" column="u_name"/>
		<result property="u_birth" column="u_birth"/>
		<result property="u_post" column="u_post"/>
		<result property="u_addr" column="u_addr"/>
		<result property="u_addr_detail" column="u_addr_detail"/>
		<result property="u_phone" column="u_phone"/>
		<result property="regdate" column="regdate"/>
	</resultMap>
	
	<insert id="signUp" parameterType="UserVO">
		INSERT INTO trade_user(u_id,u_pw,u_name,u_post,u_addr,u_addr_detail,u_phone) 
		VALUES(#{u_id},#{u_pw},#{u_name},#{u_post},#{u_addr},#{u_addr_detail},#{u_phone})		
	</insert>
	
</mapper>
